<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div id="background">
        <form action="{{url_for('predict')}}" method="post" class="form">
        <h1>House Price Prediction</h1>
        <input id="area" type="text" placeholder="enter the area"><br><br>
        <input id="submit" type="submit" value="submit">
        </form>

    </div>
</body>
</html>